<h3>Add Pizza</h3>

<div *ngIf="!addPressed">
  <button (click)="add()">ADD</button>
  <div *ngIf="saveDone">
    <label *ngIf="errorOccurred">The pizza could not be saved! A pizza with such a name already exists!</label>
    <label *ngIf="!errorOccurred">The pizza was saved successfully</label>
  </div>

</div>

<div *ngIf="addPressed">
  <div>
    <label>Name: </label>
    <input #name>
  </div>
  <div>
    <label>Description: </label>
    <input #description>
  </div>
  <div>
    <label>Price: </label>
    <input #price>
  </div>
  <button (click)="savePizza(name.value, description.value, price.value)">SAVE</button>
</div>

